@font-face {
  font-family: notosans;
  src: url(../fonts/NotoSans-Regular.ttf);
}
@font-face {
  font-family: notosansth;
  src: url(../fonts/NotoSansThai-Regular.ttf);
}

* {
  font-family: notosans,notosansth;
}
