.sidenav {
  height: 100%;
  width: 14%;
  position: fixed;
  z-index: 1;
  top: 20;
  left: 0;
  background-color: #6699FF;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #330099;
    display: block;
    transition: 0.3s;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
