.card {box-shadow: -5px 5px 10px rgba(0,0,0,0.1), 5px 5px 10px rgba(0,0,0,0.2);}
.tr_head {background-color:#0066cc;}
.tr_body {background-color:#e0e0eb;}
.tr_color {color: #F5F5F5;}
.vl {
    border-left: 1px solid gray;
    height: 130%;
    position: absolute;
    left: 1%;
    margin-left: 0px;
    top: -20%;
}
thead {text-align: center;}
